html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
		background-color: gray;
	}
	canvas {
		
		margin: auto;
		align: center;
		z-index: 1;
	}
		#my2Dcanvas {
		margin: auto;
		
		position: fixed;
		align: center;
		z-index: 2;

	}
	#scoreboard {
		text-align: center;
		font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
		color: white;
	}
	#scores {
		font-size:600%; 
		padding:0; 
		margin:0;
		color: white;
	}
	#title {
		background-color: white;
		color: black;
	}